Task
Create a Random Forest Classifier
Predict whether someone will make greater than $50k per year based on their census data.
Use cross validation
What's the highest accuracy you can get on the test dataset?
Pull Request
Submit one on completion of task

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
%matplotlib inline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import tree

C:\Users\eky6j6p\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [81]:
df = pd.read_csv('adult.csv', header=None, skipinitialspace=True)

In [82]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [83]:
df.columns = ["age", "workclass", "fnlwgt", "education","education-num", "maritalstatus", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hoursperweek", "native-country", "predictmean"]

In [84]:
df

,age,workclass,fnlwgt,education,education-num,maritalstatus,occupation,relationship,race,sex,capital-gain,capital-loss,hoursperweek,native-country,predictmean
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [85]:
def country_to_numeric(x):
    if x=='United States':
        return 1
    if x=='Outlying-US(Guam-USVI-etc)':
        return 2
    if x=='Puerto-Rico':
        return 3
    if x=='Ecuador':
        return 4
    if x=='Peru':
        return 5
    if x=='Columbia':
        return 6
    if x=='Honduras':
        return 7
    if x=='Nicaragua':
        return 8
    if x=='Guatemala':
        return 9
    if x=='El-Salvador':
        return 10
    if x=='Greece':
        return 11
    if x=='Holand-Netherlands':
        return 12
    if x=='England':
        return 13
    if x=='France':
        return 14
    if x=='Germany':    
        return 15
    if x=='Poland':
        return 16
    if x=='Italy':
        return 17
    if x=='Ireland':
        return 18
    if x=='Scotland':
        return 19
    if x=='Hungary':    
        return 20
    if x=='Portugal':    
        return 21
    if x=='Yugoslavia':    
        return 22
    if x=='India':
        return 23
    if x=='Canada':    
        return 24
    if x=='Mexico':    
        return 25
    if x=='Trinadad&Tobago':
        return 26
    if x=='Haiti':    
        return 27
    if x=='Dominican-Republic':    
        return 28
    if x=='Jamaica':    
        return 29
    if x=='Cuba':    
        return 30
    if x=='Laos':
        return 31
    if x=='Thailand':    
        return 32
    if x=='Cambodia':    
        return 33
    if x=='Hong-Kong':    
        return 34
    if x=='Taiwan':    
        return 35
    if x=='Japan':
        return 36
    if x=='Vietnam':    
        return 37
    if x=='China':    
        return 38
    if x=='South Korea':    
        return 39
    if x=='Philippines':    
        return 40
    if x=='Iran':    
        return 41
    if x=='?':    
        return 42
    else:
        return 0

def predict_to_numeric(z):
    if z=='<=50K':
        return 0
    else:
        return 1
    
def race_to_numeric(r):
    if r=='White':
        return 1
    if r=='Black':
        return 2
    if r=='Asian-Pac-Islander':
        return 3
    if r=='Amer-Indian-Eskimo':
        return 4
    else:
        return 0
    
def sex_to_numeric(s):
    if s=='Male':
        return 1
    else:
        return 0

def workclass_to_numeric(w):
    if w=='Self-emp-not-inc':
        return 1
    if w=='Self-emp-inc':
        return 2
    if w=='Private':
        return 3
    if w=='Federal-gov':
        return 4
    if w=='State-gov':
        return 5
    if w=='Local-gov':
        return 6
    else:
        return 0
    
def maritalstatus_to_numeric(m):
    if m=='Never-married':
        return 1
    if m=='Divorced':
        return 2
    if m=='Seperated':
        return 3
    if m=='Widowed':
        return 4
    if m=='Married-AF-spouse':
        return 5
    if m=='Married-civ-spouse':
        return 6
    if m=='Married-spouse-absent':
        return 7
    else:
        return 0
    
def education_to_numeric(e):
    if e=='Preschool':
        return 1
    if e=='1st-4th':
        return 1
    if e=='5th-6th':
        return 1
    if e=='7th-8th':
        return 1
    if e=='9th':
        return 2
    if e=='10th':
        return 2
    if e=='11th':
        return 2
    if e=='12th':
        return 2
    if e=='HS-grad':
        return 3
    if e=='Some-college':
        return 4
    if e=='Assoc-voc':
        return 5
    if e=='Assoc-acdm':
        return 5
    if e=='Prof-school':
        return 6
    if e=='Bachelors':
        return 6
    if e=='Masters':
        return 7
    if e=='Doctorate':
        return 7
    else:
        return 0

def relationship_to_numeric(r):
    if r=='Husband':
        return 1
    if r=='Not-in-family':
        return 2
    if r=='Other-relative':
        return 3
    if r=='Own-child':
        return 4
    if r=='Unmarried':
        return 5
    if r=='Wife':
        return 6
    else:
        return 0

def occupation_to_numeric(x):
    if x=='Adm-clerical':
        return 1
    if x=='Armed-Forces':
        return 2
    if x=='Craft-repair':
        return 3
    if x=='Exec-managerial':
        return 4
    if x=='Farming-fishing':
        return 5
    if x=='Handlers-cleaners':
        return 6
    if x=='Machine-op-inspct':
        return 7
    if x=='Other-service':
        return 8
    if x=='Priv-house-serv':
        return 9
    if x=='Prof-specialty':
        return 10
    if x=='Protective-serv':
        return 11
    if x=='Sales':
        return 12
    if x=='Tech-support':
        return 13
    if x=='Transport-moving':
        return 14
    else:
        return 0

In [86]:
df['workscore'] = df['workclass'].apply(workclass_to_numeric)
df['maritalscore'] = df['maritalstatus'].apply(maritalstatus_to_numeric)
df['ocupationscore'] = df['occupation'].apply(occupation_to_numeric)
df['educatiobuckets'] = df['education'].apply(education_to_numeric)
df['relationshipscore'] = df['relationship'].apply(relationship_to_numeric)
df['racescore'] = df['race'].apply(race_to_numeric)
df['male'] = df['sex'].apply(sex_to_numeric)
df['countryscore'] = df['native-country'].apply(country_to_numeric)
df['Over50k'] = df['predictmean'].apply(predict_to_numeric)
df

,age,workclass,fnlwgt,education,education-num,maritalstatus,occupation,relationship,race,sex,...,predictmean,workscore,maritalscore,ocupationscore,educatiobuckets,relationshipscore,racescore,male,countryscore,Over50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,<=50K,5,1,1,6,2,1,1,0,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,<=50K,1,6,4,6,1,1,1,0,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,<=50K,3,2,6,3,2,1,1,0,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,<=50K,3,6,6,2,1,2,1,0,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,<=50K,3,6,10,6,6,2,0,30,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,...,<=50K,3,6,4,7,6,1,0,0,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,...,<=50K,3,7,8,2,2,2,0,29,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,>50K,1,6,4,3,1,1,1,0,1
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,...,>50K,3,1,10,7,2,1,0,0,1
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,>50K,3,6,4,6,1,1,1,0,1
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,...,>50K,3,6,4,4,1,2,1,0,1
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,...,>50K,5,6,10,6,1,3,1,23,1
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,...,<=50K,3,1,1,6,4,1,0,0,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,...,<=50K,3,1,12,5,2,2,1,0,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,...,>50K,3,6,3,5,1,3,1,42,1
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,...,<=50K,3,6,14,1,1,4,1,25,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,...,<=50K,1,1,5,3,4,1,1,0,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,...,<=50K,3,1,7,3,5,1,1,0,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,...,<=50K,3,6,12,2,1,1,1,0,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,...,>50K,1,2,4,7,5,1,0,0,1
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,>50K,3,6,10,7,1,1,1,0,1
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,...,<=50K,3,0,8,3,5,2,0,0,0
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,...,<=50K,4,6,5,2,1,2,1,0,0
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,...,<=50K,3,6,14,2,1,1,1,0,0
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,...,<=50K,3,2,13,3,5,1,0,0,0
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,...,>50K,6,6,13,6,1,1,1,0,1
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,...,<=50K,3,1,3,3,4,1,1,0,0
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,...,>50K,0,6,0,4,1,3,1,0,1
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,...,<=50K,3,2,4,3,2,1,1,0,0
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,...,<=50K,3,6,3,3,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,...,<=50K,0,1,0,6,2,3,0,0,0
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,>50K,3,6,10,7,1,1,1,0,1
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,...,>50K,3,6,4,6,1,3,1,36,1
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,...,<=50K,3,2,1,4,5,1,0,0,0
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,...,<=50K,3,1,11,2,4,2,1,0,0
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,...,>50K,3,1,4,6,2,1,0,0,1
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,...,<=50K,3,1,3,3,2,2,1,0,0
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,...,>50K,3,2,10,6,5,2,0,0,1
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,...,>50K,0,6,0,7,1,1,1,0,1
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,...,<=50K,5,0,1,3,4,1,0,0,0
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,...,<=50K,0,0,0,3,2,2,0,0,0
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,...,<=50K,0,6,0,3,1,1,1,0,0
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,...,<=50K,6,2,10,5,5,1,0,0,0
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,...,<=50K,3,2,8,7,2,0,0,0,0
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,...,>50K,6,6,1,5,6,1,0,0,1
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,...,<=50K,3,2,13,5,2,1,0,0,0
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,<=50K,3,6,7,3,1,1,1,25,0
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,...,<=50K,1,1,10,6,2,1,1,0,0
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,...,<=50K,5,2,1,4,3,1,0,0,0
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,...,<=50K,1,6,3,4,1,1,1,0,0
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,...,<=50K,3,6,6,2,1,4,1,0,0
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,...,<=50K,3,6,12,5,1,1,1,0,0
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,...,<=50K,3,1,13,7,2,3,1,35,0
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,>50K,3,6,4,7,1,1,1,0,1
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,...,<=50K,3,1,11,4,2,1,1,0,0
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,...,<=50K,3,6,13,5,6,1,0,0,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,>50K,3,6,7,3,1,1,1,0,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,...,<=50K,3,4,1,3,5,1,0,0,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,...,<=50K,3,1,1,3,4,1,1,0,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,...,>50K,2,6,4,3,6,1,0,0,1

In [63]:
dfnumeric= df.drop(["workclass", "education", "maritalstatus", "occupation", "relationship", "race", "sex","native-country", "predictmean"], axis = 1)

In [64]:
dfnumeric

,age,fnlwgt,education-num,capital-gain,capital-loss,hoursperweek,Over50k,racescore,male,workscore,countryscore,educationscore,educationbuckets,ocupationscore,relationshipscore,maritalscore
0,39,77516,13,2174,0,40,0,1,1,5,0,14,6,1,2,1
1,50,83311,13,0,0,13,0,1,1,1,0,14,6,4,1,6
2,38,215646,9,0,0,40,0,1,1,3,0,9,3,6,2,2
3,53,234721,7,0,0,40,0,2,1,3,0,7,2,6,1,6
4,28,338409,13,0,0,40,0,2,0,3,30,14,6,10,6,6
5,37,284582,14,0,0,40,0,1,0,3,0,15,7,4,6,6
6,49,160187,5,0,0,16,0,2,0,3,29,5,2,8,2,7
7,52,209642,9,0,0,45,1,1,1,1,0,9,3,4,1,6
8,31,45781,14,14084,0,50,1,1,0,3,0,15,7,10,2,1
9,42,159449,13,5178,0,40,1,1,1,3,0,14,6,4,1,6
10,37,280464,10,0,0,80,1,2,1,3,0,10,4,4,1,6
11,30,141297,13,0,0,40,1,3,1,5,23,14,6,10,1,6
12,23,122272,13,0,0,30,0,1,0,3,0,14,6,1,4,1
13,32,205019,12,0,0,50,0,2,1,3,0,12,5,12,2,1
14,40,121772,11,0,0,40,1,3,1,3,42,11,5,3,1,6
15,34,245487,4,0,0,45,0,4,1,3,25,4,1,14,1,6
16,25,176756,9,0,0,35,0,1,1,1,0,9,3,5,4,1
17,32,186824,9,0,0,40,0,1,1,3,0,9,3,7,5,1
18,38,28887,7,0,0,50,0,1,1,3,0,7,2,12,1,6
19,43,292175,14,0,0,45,1,1,0,1,0,15,7,4,5,2
20,40,193524,16,0,0,60,1,1,1,3,0,16,7,10,1,6
21,54,302146,9,0,0,20,0,2,0,3,0,9,3,8,5,0
22,35,76845,5,0,0,40,0,2,1,4,0,5,2,5,1,6
23,43,117037,7,0,2042,40,0,1,1,3,0,7,2,14,1,6
24,59,109015,9,0,0,40,0,1,0,3,0,9,3,13,5,2
25,56,216851,13,0,0,40,1,1,1,6,0,14,6,13,1,6
26,19,168294,9,0,0,40,0,1,1,3,0,9,3,3,4,1
27,54,180211,10,0,0,60,1,3,1,0,0,10,4,0,1,6
28,39,367260,9,0,0,80,0,1,1,3,0,9,3,4,2,2
29,49,193366,9,0,0,40,0,1,1,3,0,9,3,3,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,33811,13,0,0,99,0,3,0,0,0,14,6,0,2,1
32532,34,204461,16,0,0,60,1,1,1,3,0,16,7,10,1,6
32533,54,337992,13,0,0,50,1,3,1,3,36,14,6,4,1,6
32534,37,179137,10,0,0,39,0,1,0,3,0,10,4,1,5,2
32535,22,325033,8,0,0,35,0,2,1,3,0,8,2,11,4,1
32536,34,160216,13,0,0,55,1,1,0,3,0,14,6,4,2,1
32537,30,345898,9,0,0,46,0,2,1,3,0,9,3,3,2,1
32538,38,139180,13,15020,0,45,1,2,0,3,0,14,6,10,5,2
32539,71,287372,16,0,0,10,1,1,1,0,0,16,7,0,1,6
32540,45,252208,9,0,0,40,0,1,0,5,0,9,3,1,4,0
32541,41,202822,9,0,0,32,0,2,0,0,0,9,3,0,2,0
32542,72,129912,9,0,0,25,0,1,1,0,0,9,3,0,1,6
32543,45,119199,12,0,0,48,0,1,0,6,0,12,5,10,5,2
32544,31,199655,14,0,0,30,0,0,0,3,0,15,7,8,2,2
32545,39,111499,12,0,0,20,1,1,0,6,0,12,5,1,6,6
32546,37,198216,12,0,0,40,0,1,0,3,0,12,5,13,2,2
32547,43,260761,9,0,0,40,0,1,1,3,25,9,3,7,1,6
32548,65,99359,15,1086,0,60,0,1,1,1,0,13,6,10,2,1
32549,43,255835,10,0,0,40,0,1,0,5,0,10,4,1,3,2
32550,43,27242,10,0,0,50,0,1,1,1,0,10,4,3,1,6
32551,32,34066,6,0,0,40,0,4,1,3,0,6,2,6,1,6
32552,43,84661,11,0,0,45,0,1,1,3,0,11,5,12,1,6
32553,32,116138,14,0,0,11,0,3,1,3,35,15,7,13,2,1
32554,53,321865,14,0,0,40,1,1,1,3,0,15,7,4,1,6
32555,22,310152,10,0,0,40,0,1,1,3,0,10,4,11,2,1
32556,27,257302,12,0,0,38,0,1,0,3,0,12,5,13,6,6
32557,40,154374,9,0,0,40,1,1,1,3,0,9,3,7,1,6
32558,58,151910,9,0,0,40,0,1,0,3,0,9,3,1,5,4
32559,22,201490,9,0,0,20,0,1,1,3,0,9,3,1,4,1
32560,52,287927,9,15024,0,40,1,1,0,2,0,9,3,4,6,6

In [65]:
y = dfnumeric.Over50k
X = dfnumeric.drop(["Over50k"], axis = 1)

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [67]:
model = RandomForestClassifier(n_estimators=100).fit(X_train, y_train)

In [68]:
model.score(X_test,y_test)

0.85622557230597429

In [69]:
cv = KFold(n_splits=10)

In [88]:
for depth in range(1, 20):
    model = tree.DecisionTreeClassifier(max_depth=depth)
    train_scores, test_scores = [], []
    for train_i, test_i in cv.split(X):
        Xr, yr, Xt, yt = X.loc[train_i], y.loc[train_i], X.loc[test_i], y.loc[test_i]
        model.fit(Xr, yr)
        test_scores.append(model.score(Xt, yt))
        train_scores.append(model.score(Xr, yr))
    print('depth:', depth, 'test scores:', sum(test_scores)/len(test_scores), 'train scores:', sum(train_scores)/len(train_scores))

depth: 1 test scores: 0.75919068474 train scores: 0.759190445545
depth: 2 test scores: 0.826510732129 train scores: 0.826510248363
depth: 3 test scores: 0.84220432612 train scores: 0.84223458083
depth: 4 test scores: 0.842112235676 train scores: 0.842981895322
depth: 5 test scores: 0.847732364765 train scores: 0.84933578966
depth: 6 test scores: 0.854642410714 train scores: 0.855846639593
depth: 7 test scores: 0.854151066801 train scores: 0.858583382206
depth: 8 test scores: 0.855625202267 train scores: 0.861166568222
depth: 9 test scores: 0.854028244967 train scores: 0.863715629785
depth: 10 test scores: 0.853414032072 train scores: 0.86897754178
depth: 11 test scores: 0.852768889762 train scores: 0.874062011865
depth: 12 test scores: 0.850895529116 train scores: 0.880893635954
depth: 13 test scores: 0.849267859285 train scores: 0.887718432009
depth: 14 test scores: 0.846043213295 train scores: 0.895577187485
depth: 15 test scores: 0.841927677601 train scores: 0.903579258906
depth: 16 test scores: 0.840084954047 train scores: 0.912188738816
depth: 17 test scores: 0.836215212896 train scores: 0.921187236662
depth: 18 test scores: 0.832130682054 train scores: 0.930155018601
depth: 19 test scores: 0.828998107648 train scores: 0.938679187439

In [71]:
cv = KFold(n_splits=10)
for estimators in range(100, 500, 100):
    model = RandomForestClassifier(n_estimators=estimators, max_depth=9)
    scores = []
    for train_i, test_i in cv.split(X):
        Xr, yr, Xt, yt = X.loc[train_i], y.loc[train_i], X.loc[test_i], y.loc[test_i]
        model.fit(Xr, yr)
        scores.append(model.score(Xt, yt))
        train_scores.append(model.score(Xr, yr))
    print('estimators:' , estimators, 'scores:', sum(scores)/len(scores))

estimators: 100 scores: 0.856822962676
estimators: 200 scores: 0.856546549899
estimators: 300 scores: 0.856761490466
estimators: 400 scores: 0.856915090838

In [93]:

final_model = RandomForestClassifier(n_estimators=400, max_depth=9)

In [94]:
final_model.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=9, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=400, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [95]:
final_model.feature_importances_

array([ 0.06689651,  0.01212815,  0.08547341,  0.19267492,  0.04353865,
        0.04376108,  0.00279446,  0.01396406,  0.01012806,  0.00416392,
        0.07901523,  0.07422042,  0.02056828,  0.1518063 ,  0.19886656])

In [92]:
dfnumeric.head(3)

,age,fnlwgt,education-num,capital-gain,capital-loss,hoursperweek,Over50k,racescore,male,workscore,countryscore,educationscore,educationbuckets,ocupationscore,relationshipscore,maritalscore
0,39,77516,13,2174,0,40,0,1,1,5,0,14,6,1,2,1
1,50,83311,13,0,0,13,0,1,1,1,0,14,6,4,1,6
2,38,215646,9,0,0,40,0,1,1,3,0,9,3,6,2,2

In [98]:
dftest = pd.read_csv('adulttest.csv', header=None, skipinitialspace=True)

In [99]:
dftest.columns = ["age", "workclass", "fnlwgt", "education","education-num", "maritalstatus", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hoursperweek", "native-country", "predictmean"]

In [100]:
dftest.head(3)

,age,workclass,fnlwgt,education,education-num,maritalstatus,occupation,relationship,race,sex,capital-gain,capital-loss,hoursperweek,native-country,predictmean
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.

In [101]:
dftest['workscore'] = df['workclass'].apply(workclass_to_numeric)
dftest['maritalscore'] = df['maritalstatus'].apply(maritalstatus_to_numeric)
dftest['ocupationscore'] = df['occupation'].apply(occupation_to_numeric)
dftest['educatiobuckets'] = df['education'].apply(education_to_numeric)
dftest['relationshipscore'] = df['relationship'].apply(relationship_to_numeric)
dftest['racescore'] = df['race'].apply(race_to_numeric)
dftest['male'] = df['sex'].apply(sex_to_numeric)
dftest['countryscore'] = df['native-country'].apply(country_to_numeric)
dftest['Over50k'] = df['predictmean'].apply(predict_to_numeric)
dftest

,age,workclass,fnlwgt,education,education-num,maritalstatus,occupation,relationship,race,sex,...,predictmean,workscore,maritalscore,ocupationscore,educatiobuckets,relationshipscore,racescore,male,countryscore,Over50k
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,...,<=50K.,5,1,1,6,2,1,1,0,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,...,<=50K.,1,6,4,6,1,1,1,0,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,...,>50K.,3,2,6,3,2,1,1,0,0
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,...,>50K.,3,6,6,2,1,2,1,0,0
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,...,<=50K.,3,6,10,6,6,2,0,30,0
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,...,<=50K.,3,6,4,7,6,1,0,0,0
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,...,<=50K.,3,7,8,2,2,2,0,29,0
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,>50K.,1,6,4,3,1,1,1,0,1
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,...,<=50K.,3,1,10,7,2,1,0,0,1
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,...,<=50K.,3,6,4,6,1,1,1,0,1
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,>50K.,3,6,4,4,1,2,1,0,1
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,...,<=50K.,5,6,10,6,1,3,1,23,1
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,...,<=50K.,3,1,1,6,4,1,0,0,0
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,...,<=50K.,3,1,12,5,2,2,1,0,0
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,>50K.,3,6,3,5,1,3,1,42,1
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,>50K.,3,6,14,1,1,4,1,25,0
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,...,<=50K.,1,1,5,3,4,1,1,0,0
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,...,<=50K.,3,1,7,3,5,1,1,0,0
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,...,<=50K.,3,6,12,2,1,1,1,0,0
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,...,>50K.,1,2,4,7,5,1,0,0,1
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,...,>50K.,3,6,10,7,1,1,1,0,1
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,...,<=50K.,3,0,8,3,5,2,0,0,0
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,...,<=50K.,4,6,5,2,1,2,1,0,0
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,...,<=50K.,3,6,14,2,1,1,1,0,0
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,<=50K.,3,2,13,3,5,1,0,0,0
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,...,>50K.,6,6,13,6,1,1,1,0,1
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,...,<=50K.,3,1,3,3,4,1,1,0,0
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,...,<=50K.,0,6,0,4,1,3,1,0,1
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,...,<=50K.,3,2,4,3,2,1,1,0,0
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,...,<=50K.,3,6,3,3,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16251,81,?,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,...,<=50K.,1,6,12,5,1,1,1,0,0
16252,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,>50K.,3,6,4,3,6,1,0,0,1
16253,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,...,<=50K.,3,2,6,3,5,1,1,0,0
16254,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,>50K.,3,6,12,4,1,1,1,0,0
16255,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,>50K.,3,4,13,2,5,1,0,0,0
16256,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,...,<=50K.,3,7,3,2,5,1,1,25,0
16257,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,...,<=50K.,3,1,1,3,2,1,0,0,0
16258,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,...,<=50K.,3,0,1,3,2,1,1,6,0
16259,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,...,<=50K.,1,6,3,6,1,1,1,0,1
16260,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,...,<=50K.,1,2,1,7,3,0,1,42,0
16261,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,>50K.,3,6,4,6,1,1,1,0,1
16262,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,...,<=50K.,6,1,11,4,4,1,1,0,0
16263,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,...,<=50K.,3,6,12,3,1,1,1,0,0
16264,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,...,<=50K.,2,6,4,5,1,1,1,0,1
16265,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,...,>50K.,6,4,10,7,2,1,0,0,0
16266,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,...,<=50K.,3,0,3,3,5,2,0,42,0
16267,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,...,<=50K.,4,1,10,6,4,1,0,0,0
16268,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,...,<=50K.,1,6,10,6,1,1,1,0,1
16269,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,...,<=50K.,1,6,10,6,1,1,1,0,1
16270,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,...,<=50K.,3,4,8,1,2,2,0,0,0
16271,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,...,<=50K.,3,1,14,5,4,1,1,0,0
16272,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,...,<=50K.,3,6,10,4,1,1,1,0,0
16273,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,...,<=50K.,3,6,4,5,1,1,1,0,0
16274,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,...,<=50K.,3,6,7,3,1,1,1,0,0
16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,...,<=50K.,3,2,12,3,2,1,0,0,0
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,...,<=50K.,3,6,7,3,1,1,1,0,0
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,...,<=50K.,3,2,10,4,2,2,1,15,1
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,<=50K.,3,1,12,6,2,1,0,0,0
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,...,<=50K.,3,1,3,5,4,1,1,0,0
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,>50K.,3,1,6,3,4,1,1,0,0

In [109]:
dftestnumeric= dftest.drop(["workclass", "education", "maritalstatus", "occupation", "relationship", "race", "sex","native-country", "predictmean"], axis = 1)

In [110]:
dftestnumeric.head(3)

,age,fnlwgt,education-num,capital-gain,capital-loss,hoursperweek,workscore,maritalscore,ocupationscore,educatiobuckets,relationshipscore,racescore,male,countryscore,Over50k
0,25,226802,7,0,0,40,5,1,1,6,2,1,1,0,0
1,38,89814,9,0,0,50,1,6,4,6,1,1,1,0,0
2,28,336951,12,0,0,40,3,2,6,3,2,1,1,0,0

In [104]:
dfnumeric.head(3)

,age,fnlwgt,education-num,capital-gain,capital-loss,hoursperweek,Over50k,racescore,male,workscore,countryscore,educationscore,educationbuckets,ocupationscore,relationshipscore,maritalscore
0,39,77516,13,2174,0,40,0,1,1,5,0,14,6,1,2,1
1,50,83311,13,0,0,13,0,1,1,1,0,14,6,4,1,6
2,38,215646,9,0,0,40,0,1,1,3,0,9,3,6,2,2

In [115]:
final_model.predict([[25,77516,13,2174,0,40,5,1,1,6,2,1,1,0,0]])

array([0], dtype=int64)

It predicted under 50K (0) which is correct